<template>
  <div id="app">
    <div style="margin-bottom: 10px" @click="show = !show" v-if="show">
      {{ count / (items.filter(item => item == 1).length || 1) }}
    </div>
    <div>
      <button style="margin-bottom: 10px" @click="show = !show" v-if="!show">
        За день среднее
      </button>
    </div>
    <div>{{ count }}</div>
    <div><button class="btn" @click.prevent="record">+</button></div>
    <div class="center">
      <div class="d-flex">
        <div>
          <div v-for="item in items" :key="item * Math.random(999)">
            {{ item }}
            <hr />
          </div>
        </div>
        <div class="ml-5">
          <div v-for="(date, i) in dates" :key="i">
            {{ date }}
            <hr />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "App",
  data() {
    return {
      show: false,
      count: 0,
      nomer: 0,
      dates: [],
      items: [],
      time: (new Date().getHours() + 1) % 24
    };
  },
  methods: {
    record() {
      if (new Date().getHours() >= this.time) {
        this.time = (new Date().getHours() + 1) % 24;
        this.nomer = 0;
      }
      this.count++;
      this.nomer++;
      this.dates.unshift(new Date().toLocaleString());
      this.items.unshift(this.nomer);
    }
  }
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 20px;
}
.center {
  max-width: 200px;
  margin: 0 auto;
}
.btn {
  padding: 0 10px;
  margin: 5px 5px 15px;
  font-weight: bolder;
  font-size: 30px;
  color: green;
  border-radius: 5px;
  background: lightgreen;
  border: 2px solid green;
}
.d-flex {
  display: flex;
}
.ml-5 {
  margin-left: 20px;
}
</style>
